.CountryAreaChart {
  display: flex;
  flex-direction: column;

  &__Country {
    &--label {
      margin: 1em;
      font-size: 1.2em;
      font-weight: bold;
    }

    &--undefined {
      margin-top: 1.5em;
      font-size: 1.2em;
      color: #f44336;
    }
  }
}
