.StatisticCard {
  margin: 1em;
  border-radius: 3em !important;
  word-break: break-all;

  &__Avatar {
    margin-right: 0px !important;

    &--confirmed {
      color: #027be3;
    }

    &--deaths {
      color: #f44336;
    }

    &--recovered {
      color: #009688;
    }
  }

  &__Content {
    &--confirmed {
      color: #027be3;
    }

    &--deaths {
      color: #f44336;
    }

    &--recovered {
      color: #009688;
    }
  }
}

// Overriding Material UI
.MuiCardHeader-root {
  flex-direction: column;
}

.MuiSvgIcon-root {
  font-size: 3em !important;
}
